
.personal{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #edf0f0;
    &__form{
        max-width: 450px;
        min-width: 250px;
        border: 1px solid #cbcaca;
        border-radius: 10px;
        padding:20px;
        position: relative;
        background-color: white;
        transform: translateY(-20%);

    }
    &__user{
        position: absolute;
        top:0;
        left:50%;
        transform: translate(-50%,-59%);
        font-size: 54px;
        z-index: 12;
    }
    &__content{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}

.update{
    &__person{
        position: fixed;
        left:0;
        top:0;
        width: 100vw;
        background-color: rgba(0,0,0,.7);
        height: 100%;
        z-index: 200;
        padding:15px;
    }
    &__form{
        max-width: 450px;
        min-width: 250px;
        border: 1px solid #cbcaca;
        border-radius: 10px;
        padding: 20px;
        background-color: white;
        transform: translateY(60%);
        position: relative;
    }
}
