.text {
    display: block;
    font-size: 14px;
    margin: 0;

    &__title {
        font-size:33.184px;
        font-weight: 700;
        line-height: 43.1392px;
        text-align: center;
    }

    &__subtitle {
        font-size: 16px;
        margin: 0;
        font-weight: 600;
    }

    &__date {
        color: rgb(141, 141, 141);
        font-size: 12px;
        margin: 0;
    }

    &__paragraph {
        font-size: 13px;
        text-align: justify;
        text-justify: inter-word;
    }
    &__link{
        text-decoration: none;
        color: black;
    }
    &__label{
        display: block;
        margin: 0;
        font-size: 14px;
    }
    &__info{
        color: #6C758E;
        margin: 0;
        font-size: 14px;
    }
    &__price{
        color: #de0000;
        margin-bottom: 0;
    }
}