.pSuccess{
    display: flex;
    justify-content: center;
    align-items: center;
    &__form{
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 450px;
        gap:20px;
        transform: translateY(-10%);
        box-shadow: 0 0 10px 2px lightgray ;
        padding: 35px;
    }
    &__iconForm{
        border: 4px solid #198754;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap:20px;
    }
    &__icon{
        font-size: 35px;
        color: #198754;
    }
    &__content{
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
    }
}