.form{
    width: 310px;
    height: fit-content;
    &__input{
        width: 220px;
        border-radius: 5px;
        padding: 5px 10px;
        text-decoration: none;
        border: none;
    }
    &__item{
        max-width: 310px;
        max-height: 390px;
    }
}