.nav{
    color: black;
    background-color: white;
    position: sticky;
    top: 0;
    padding: 8px 5px;
    width: 100%;
    z-index: 100;
    box-shadow: 0 3px 2px -2px lightgray;
    &__table {
        position: absolute;
        background-color: white;
        padding: 10px 10px 0 10px;
        border-top: 1px solid black;
        top:39px;
        min-width: 450px;
        transform: translate(-50%,4%);
        justify-content: stretch;
        align-items: stretch;
        border: 1px solid black;
    }
    &__genres{
        position: relative;
    }
    &__genresItem{
        color: black;
        cursor: pointer;
        &:hover {
            color: blue;
        }
        user-select: none;
        margin: 0;
    }   
    &__frame{
        display: flex;
        justify-content: flex-start;
        width: 100%;
        align-items: center;
    }
    &__categories{
        display: flex;
        justify-content: center;
        align-items: center;
        gap:15px;
    }
    &__flexItem{
        flex-grow: 1;
        padding: 5px 0;
        height: fit-content;
        width: 33.33%;
    }
    &__first{
        display: flex;
    }
    &__logo{
        padding: 0 10px;
        width: fit-content;
        font-size: 20px;
    }
    &__formSearch{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        padding:3px 4px;
        border-radius: 10px;
        overflow: hidden;
    }
    &__search{
        width: fit-content;
        display: flex;
        align-items: center;
        color: black;
    }
    &__searchIcon{
        font-size: 18px;
    }
    &__searchInput{
        width: 100%;
        height: 100%;
        outline: none;
        border: none;
        margin-left: 4px;
    }
    &__last{
        display: inline-flex;
        align-items: center;
        justify-content: flex-end;
        gap: 15px;
        margin: 0 20px;
    }
    &__cart{
        margin: 0;
        padding: 0;
    }
    &__signIn{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__genresChoose {
        color: black;
        white-space: nowrap;
        cursor: pointer;
        &:hover{
            color: blue;
        }
        user-select: none;
    }
    &__topic{
        color: black;
        cursor: pointer;
        &:hover {
            color: blue;
        }
        user-select: none;
        margin: 0;
    }
    &__cartIcon{
        font-size: 22px;
        display: inline-block;
    }
    &__cartQuantity{
        display: inline-block;
        background-color: #cc1e1e;
        padding: 1px 6px 1px 6px;
        color: white;
        font-size: 11px;
        border-radius: 50%;
        overflow: hidden;
        transform: translate(-10px,-4px);
    }
}