.component{
    &__flex{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__wrapper{
        margin: 0 -1em;
    }
    &__grid{
        display: grid;
    }
}